
.headerRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 46px;
    border-bottom: 1px solid rgba(38, 40, 66, 0.12);

}

.month {
    text-align: center;
    height: 24px;
    border-right: 1px solid rgba(38, 40, 66, 0.12);
    border-top: 1px solid rgba(38, 40, 66, 0.12);
    border-bottom: 1px solid rgba(38, 40, 66, 0.12);
    background-color: #F7F8FC;
}

.days {

    text-align: center;
    display: flex;
    flex-direction: row;
    height: 28px;
    background-color: #F7F8FC;


}

.day {
  text-align: center;
    height: 29px;
    width: 14px;
    border-right: 1px solid rgba(38, 40, 66, 0.12);
}